<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <jmxConfigurator/>

    <property name="RTR_LOG_PATTERN" value="%contextName | %X{client} | %X{requestId}| %d{dd-MMM-yyyy HH:mm:ss Z} | %X{requestURL} | %logger{36} [%file:%M:%line] | %msg%n"/>

    <contextName>${HOSTNAME}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${RTR_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/app.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>${RTR_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="th.co.dtac.mobile.rtr" level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="th.co.dtac.mobile.rtr.Application" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
